.formControl {
	margin-top: 1px;
}
.formControl.error input,
.formControl.error textarea {
	border: solid 1px red;
}
.formControl span {
	color: red;
}
.formSummaryError {
	margin-left: 5%;
	margin-top: 1%;
	width: 90%;
	border: solid 1px red;
	padding: 5px;
	color: red;
}
