.dialogs {
	display: grid;
	grid-template-columns: 1fr 2fr;
	color: #fff;
	height: 99%;
}

.dialogsItems {
	padding: 20px;
	border-right: solid 1px white;
}

.dialog {
	cursor: pointer;
	margin: 15px 0;
}
.dialogWindow {
	word-wrap: break-word;
}
.send {
	display: flex;
	flex-direction: column;
}
.dialog a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

.dialog a:hover {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
		0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 3px rgba(22, 186, 206, 0);
	cursor: pointer;
	transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
}

.dialogsItems .active {
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
	opacity: 1;
}

.messages {
	padding: 35px;
	padding-bottom: 0;
	display: grid;
	grid-template-rows: 1fr 100px;
}

.message {
	color: #fff;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
			0 0 70px #e60073;
	}

	100% {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6,
			0 0 70px #ff4da6, 0 0 110px #ff4da6;
	}
}